<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="contacts" class="container justify-content-center mt-3 mb-3">
    <div class="container-sm" style="background-color: white">
        <div class="container text-center p-3">
            <div class="row">
                <div class="col">
                    <div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d594.6125716514302!2d30.731853247780766!3d46.4695322151131!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c631965dfc29b9%3A0x6a681f26e42fc31d!2z0J3QvtCy0LjQuSDQn9GA0LjQstC-0Lc!5e0!3m2!1suk!2sua!4v1698075084179!5m2!1suk!2sua" width="900" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="col">
                    <p class="text-start" style="font-size: 18px">
                        Address: Panteleimonivs'ka Str. 25, Odesa, 65000<br>
                        <i class="bi bi-telephone-fill"></i> Phone: +380 048 123-4567<br>
                        <i class="bi bi-envelope"></i> E-mail: webshopfruits@mail.com<br>
                        WEB SHOP FRUITS, LLC
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>